* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 104, 104);
}

a {
    text-decoration: none;
}

.projects {
    width: 80%;
    min-height: 98vh;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.projects h1{
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.project {
    width: 80%;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #19807e;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.project:hover {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}

.con {
    margin: 10px 0;
    width: 90%;
}

.name {
    font-size: 20px;
    color: #fff;
    width: 90%;
}

.desc {
    font-size: 16px;
    color: #fff;
    width: 90%;
}

.link {
    color: #fff;
    align-self: self-end;
    padding: 5px;
    margin-right: 20px;
}

.link:hover {
    color: #000;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
}

@media (max-width: 320px) {
    .projects h1{
        font-size: 20px;
        padding: 5px 10px;
    }

    .project {
        width: 90%;
    }
    .con {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
}

@media (min-width: 321px) and  (max-width: 480px) {
    .projects h1{
        font-size: 20px;
        padding: 5px 10px;
    }

    .project {
        width: 90%;
    }
    .con {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
}
