* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 530px;
}

.day {
    font-size: 80px;
    display: inline;
}

.time {
    font-size: 80px;
    display: inline;
}

.minutes {
    font-size: 80px;
    display: inline;
}

.sce {
    font-size: 80px;
    display: inline;
}

.mm {
    font-size: 20px;
    display: inline;
}